@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Play <a asp-controller="GameChat" asp-action="index">Tic-tac-toe GAME</a>.</p>
</div>
